<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>esbuild playground</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="/src/main.ts" type="module"></script>
    <% if (prod) { %>
    <script
      defer
      src="https://umami2.egoist.dev/script.js"
      data-website-id="fcfe4289-ab86-4d66-91b1-23eb307c25b1"
    ></script>
    <% } %>
  </body>
</html>
